[tool.poetry]
name = "slotscheck"
version = "0.16.5"
description = "Ensure your __slots__ are working properly."
authors = ["Arie Bovenberg <a.c.bovenberg@gmail.com>"]
license = "MIT"
classifiers = [
    "Typing :: Typed",
    "Topic :: Software Development :: Quality Assurance",
    "Programming Language :: Python :: Implementation :: CPython",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]
packages = [
    { include = "slotscheck", from = "src" },
]
readme = "README.rst"
include = ["CHANGELOG.rst", "README.rst"]
repository = "https://github.com/ariebovenberg/slotscheck"
homepage = "https://github.com/ariebovenberg/slotscheck"

[tool.poetry.dependencies]
python = ">=3.7,<4"
importlib-metadata = {version = ">=1,<6", python = "<3.8"}
typing-extensions = {version = ">=4.1,<5", python = "<3.10"}
click = "^8.0"
tomli = {version = ">=0.2.6,<3.0.0", python = "<3.11"}

[tool.poetry.dev-dependencies]
flake8 = "^5.0.4"
isort = "^5.11.5"
mypy = "^1.2"
pytest = "^7.2.2"
black = "^23.1"
pytest-cov = "^4.0.0"
pytest-mock = "^3.6.1"
typing_extensions = ">=4.1,<5"
# Only actually needed as an example library whose __init__ is an extension.
pydantic = "1.9.2"

[tool.poetry.scripts]
slotscheck = "slotscheck.cli:root"

[tool.black]
line-length = 79
include = '\.pyi?$'
exclude = '''
/(
    \.eggs
  | \.hg
  | \.git
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | build
  | dist
)/
'''

[tool.isort]
profile = 'black'
line_length = 79

[tool.slotscheck]
strict-imports = true
require-subclass = true
require-superclass = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
